.inputSearch {
    font-size: 1rem !important;
}

.formSearch {
    width: 300px;
    border-radius: 300px;
    margin-left: 10px;
}

.cardHeader {
    padding: 0px 0px !important;
}

.navbar {
    padding: 0px 20px !important;
}

.navItem {
    padding: 0px 75px 0px;
}

.cfpt_banner {
    border-radius: 10px;
    z-index: -1;
}

.profile {
    margin-top: -20px;
    background-color: white;
    border: 3px solid #ebebeb;
    margin-left: 20px;
}

.contact-button {
    position: relative;
    top: 2em;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    padding: 0 30px;
}

.uk-modal {
    background: rgba(0,0,0,.05);
}

header {
    
}