.inputSearch {
    font-size: 1rem !important;
}

.formSearch {
    width: 300px;
    border-radius: 300px;
    margin-left: 10px;
}

.cardHeader {
    padding: 0px 0px !important;
}

.navItem {
    padding: 0px 75px 0px;
}

header {
    
}